[buildout]
extends = https://raw.github.com/collective/buildout.plonetest/master/travis-4.3.x.cfg
extensions = mr.developer
auto-checkout = plone.act
parts = download install test
package-name = collective.embedly
package-extras = [tests]
allow-hosts +=
    code.google.com
    robotframework.googlecode.com

#temporary
[download]
url = https://launchpad.net/plone/4.2/4.2.2/+download/Plone-4.2.2-UnifiedInstaller.tgz

[install]
cmds = tar jxvf ${download:location}/Plone-4.2.2-UnifiedInstaller/packages/buildout-cache.tar.bz2 1>/dev/null

[versions]
zc.buildout = 1.6.3

[sources]
plone.act = git git://github.com/plone/plone.act.git
